html {
    font-family: sans-serif;
    background: #ffe082;
    color: #101010;
    line-height: 1.4;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

body {
    padding: 1em;
}

* {
    box-sizing: border-box;
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.1em;
    font-size: 2.5rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.header-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 300px;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.cards {
    display: flex;
    gap: 1em;
}

@media (max-width: 800px) {
    .cards {
        flex-direction: column;
    }
}

.cards > div {
    flex: 1;
}

.card {
    text-align: center;
    background: #FFF;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .24);
}

.card__title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: .5em;
    font-size: 1.3rem;
    color: #0288D1;
}

.card__content {

}

.column {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.server-status__value {
    font-size: 1.3rem;
}

.server-status__action {
    margin-top: 1em;
}

.server-status__action button {
    font-size: 1.1rem;
}

.button,
button {
    background: none;
    border: solid 1px #ddd;
    padding: .7em 1em;
    background: #0288d1;
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.button:hover,
.button:active,
button:hover,
button:active {
    background: #00527f;
}

.button.disabled,
button.disabled,
button[disabled],
.button.disabled:hover,
button.disabled:hover,
button[disabled]:hover {
    background: #0288d1;
    opacity: 0.65;
    cursor: default;
}

.is-hidden {
    display: none;
}

body.map-page {
    padding: 0;
    margin: 0;
}

.map {
    display: flex;
    flex-direction: row;
    height: 99vh;
}

.map__index {
    overflow-y: scroll;
}

.map__iframe {
    flex: 1;
    border: none;
}

.material-icons {
    transform: translateY(13%);
}