{% extends 'base.html.twig' %}

{% block title %}Noitl.Craft Live-Map{% endblock %}

{% block bodyclass %}map-page{% endblock %}

{% block body %}
    <div class="map">
        <div class="map__index">
            {% include "mapindex.html.twig" %}
        </div>
        <iframe src="https://craft-map.noitl.space" class="map__iframe" name="map"></iframe>
    </div>
{% endblock %}